env: prod
replicaCount: 2

serviceName: ""  # defaults to .Release.Name when empty

image:
  repository: myrepo/backend
  tag: prod
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 8000

resources:
  requests:
    cpu: "250m"
    memory: "256Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

hpa:
  enabled: true
  min: 2
  max: 5
  cpu: 70
